body{
	background: #F5F5F5;
	text-align:no center;
}


.navegacao {
	color: #000000;
	font-size: 22px;
	font-weight: bold;	

	}
.itens {
	text-decoration: none;
	display: inline ;	
	margin: 0 30px ;
	background: none;
}
.imagemPerfil{

position: relative;
border-radius: 50%;
width: 368px;
height: 368px;

}

.divisao1{
display: inline;
list-style:none;

}
.navegacao1{

font-size: 22px;
	font-weight: bold;
}
.itens1{
	display: inline;
font-size: 22px;
	font-weight: bold;
padding:40px ;
background: none;

}
.itens1:after {
content:"";

	
}


nav li a{
	text-decoration: none;
	font-weight: bold;
	color: #000000;
	font-size: 30px;
	color: #03a9f4b5;

}
em{
	color: red;
}
p em{
	font-size: 25px;
}
p em strong {
	color: rgb(80, 80, 240);
	font-size: 30px;
}
.divisao2{
text-align: center;
font-weight: bold;
background: #2a7ae433;
}
.navegacao2{
font-size: 22px;
	font-weight: bold;
}
.itens2{

}
.divisao3{
text-align: center;
font-size: 25px;
font-weight: bold; 
}
.navegacao3{
background: #EAF2FD;
padding: 0 30px;
height: 300px;
margin-top: 50px;

}
.itens3{

}
#estrela:before {
	display: inline;
	font-size: 50px;
	content:"✫ ";
	color: blue;
}

 .vermelha {
 	color: rgb(250, 0, 0);
 }

.sobre{
	background:#EAF2FD ;
	margin: 100px;
	font-size: 25px;

}
/* css flexbox*/

.hobbiesSkills{
 	text-align: center;

 	
 }
 .skills .tituloPrincipal{
 	padding-top: 3.2rem;
text-align: center;
 }
 .tituloPrincipal{
 	color: #03a9f4b5;
 	font-size: 3.2rem;
 	font-weight: 700;
 	line-height: 3.75rem;
text-align: center;
 }

 
 .areaSkills .areaHobbies{
 	padding:3.2rem 0 8rem 0 ;


 }
 .areaSkills{
display: flex;
 	justify-content: space-between;
 }
 .areaHobbies{
 	display: flex;
 	justify-content: space-around;
 	padding: 60px;
 	background: #2a7ae433;
 	
 }
 .listaSkills .listaHobbies{
 	display: flex;
 	justify-content: space-between;

 }
 .itens-sklls1{
 	display: flex;
 	justify-content: space-end;
 }
 /*	display: flex;{
 
 	justify-content:space-between ;
 }*/
 ul{
 	display: flex;
 	list-style: none;
 	justify-content: space-around;
 	background: #2a7ae433;
 	padding-top: 20px;

 }
 .conteudoItem{
 	padding: 9.4rem _1.6rem _1.6rem _1.6rem;
 	background: #FFFFFF;
 	display: inline;
 	flex-direction: nowrap;
 	justify-content: flex-start;
 	width: 14,4rem;
 }
 
.icone{
	Skkil.png
	padding: 10px;
}
.icone{
	Skill1.png
}
.icone{

cosinhar.png
}
.icone{
foto
}
.icone{
musica.png
}
.icone{
series.png
}



/*formação academica*/




.formacao-academica_tituloPrincipal{
color: #03a9f4b5;
font-size: 60px;
font-weight: 700;
text-align:center ;
margin-bottom: 15px;


}
.imagemalurapng{
imagemalura.png
}
.formacoes{
	text-align: center;
	font-size: 30px;
	background: #2a7ae470;
	padding-top: 70px;
}
.imagemalura{
background: rgb(255, 255, 255);
padding: 30px;
width: 1000px;
height: 400px;	
}
.formacao-academica{
	background-color: EAF2FD;

}
.projeto_titulo{
	display: flex;
	font-size: 20px;
text-decoration: none;

}
a {
	text-decoration: none;
}
.projeto_linguagen-imagem{

	display: flex;
	width: 4rem;
	text-decoration: none;
}
.projeto{
	display: flex;
	justify-content: center;
	font-weight: bold;
	text-decoration: none;
	padding-top: 80px;
	background: #2a7ae433;
	padding-bottom: 80px;
	padding-left: 50px;
}

.projeto{
	order: -1;
}
.projeto_imagem{
	display: flex;
	width: 700pxpx;
	height: 400px;
	justify-content: safe left;
	text-decoration: none;
}
.projeto__botao--repositorio{
	background:#F5F5F5;
	padding: 30PX;
	border:0.1rem solid #2A7AE4 ;
	font-style: none;
	font-weight: bold;
}
.projeto__botao--ver-demo  {
	padding: 30px;
	background: #2A7AE4;
	border: none;
	padding: 1.6rem;
	font-weight: 400;
	
}
.projeto_detalhe{
	display:inline;
	justify-items:center ;
	margin-left:1.6rem;
}
.projeto_imagem{
	width: ;
}


/*fomulariocontato*/
 form label{
 	display: block;
 	font-size: 20px;
 	margin: 0 0 20px;
 	position: absolute;
 	left: 540px;
 	color: #a2a2a2;
 	font-weight: 400;


 }
 form input{
 	display: block;
 	margin: 0 0 30px;
 	padding: 10px 150px;
 	border-radius: 10px;
 	border: 0;
 	

 }

.contato{
display: flex;
background: #eaf2fd;
padding: 12.8rem 15.2 rem 6.55rem 15.2rem;
margin-top: 30px;
margin-bottom: 30px;
}
.contato__titulo{
	
	display: inline;
	color: #464646;
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 50px;
}

.contato__informacoes{
	margin-left: 1.6rem;
	padding: 30px;
	margin-top: 100px;
}
p{
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
	padding: 10px;
}
.contato__formulario--mensagem{
	padding: 10px 212px;
	border-radius: 10px;
	font-size: 20px;
	padding-left: 4px;
	border: 0;
	color: #2a2a2a;

}
.contato__formulario--botao{
	color: #ffffff;
	font-size: 1.6rem;
	font-weight: 400;
	background: #2a7ae4;
	border: none;
	padding: 1.6rem;
	transition: 0,5s all;
}
img{
	margin: 0;
}
.rodape{
	text-align: center;
}
.nomesobrenome{
	width: 50px;
}
tex