body{
	box-sizing: border-box;
	background: #F5F5F5;
	margin: 0;
	padding: 0;
	width: 100%;
	
	text-align: center;
	
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
	
}
.html{

	    width: 100%;

	    
}
}





.navegacao {
	color: #000000;
	font-size: 22px;
	font-weight: bold;	

	}
.itens {
	text-decoration: none;
	display: inline ;	
	margin: 0 10px ;
	background: none;
}
.imagemPerfil{

position: relative;
border-radius: 50%;
width: 368px;
height: 368px;

}

.divisao1{
display: inline;
list-style:none;

}
.navegacao1{

font-size: 22px;
	font-weight: bold;
}
.itens1{
	display: inline;
font-size: 22px;
	font-weight: bold;
padding:40px ;
background: none;

}
.itens1:after {
content:"🡵";

	
}


nav li a{
	text-decoration: none;
	font-weight: bold;
	color: #000000;
	font-size: 30px;
	

}
em{
	font-size: 28px;
}
p {
	font-size: 25px;

}
p em strong {
	color: rgb(80, 80, 240);
	font-size: 30px;
}
.divisao2{
text-align: center;
font-weight: bold;
background: #f5f5f5;
}
.navegacao2{
font-size: 22px;
	font-weight: bold;
}
.itens2{

}
.divisao3{
text-align: center;
font-size: 25px;
font-weight: bold; 
}
.navegacao3{
background: #EAF2FD;
padding: 0 30px;
height: 300px;
margin-top: 50px;

}
.itens3{

}
#estrela:before {
	display: inline;
	font-size: 50px;
	content:"✫ ";
	color: blue;
}

 .vermelha {
 	color: rgb(250, 0, 0);
 }

.sobre{
	background:#EAF2FD ;
	margin: 100px;
	font-size: 25px;

}
/* css flexbox*/


 	
 
 
/* .tituloPrincipal1{
 	display: flex;
 	color: #03a9f4b5;
 	font-size: 3.2rem;
 	font-weight: 700;
 	line-height: 3.75rem;
 	align-items: center;

 }
 .tituloPrincipal2{
display: flex;
color: #03a9f4b5;
font-size: 3.2rem;
 	font-weight: 700;
 	line-height: 3.75rem;
 	align-items: center;

 }*/


.{
	border-box
}

 .contaier{
 	display: flex;
 	max-width: 960px;
 width: 70%;
 padding-left:15px ;
 padding-left: 15px;
margin-left:auto ;
margin-right: auto; 
box-sizing: box-sizing;

 }
.text-center{
	text-align: center;

}
.row{
	display: inline-block;
	
	padding: 32px;
	margin-left: 15px;
	margin-right: -15px;
	width: 300px;
	
}
.card{
	position: relative;
	font-display: flex;
}	
.skills{
	display:block ;
}
#skills{
background: #9e9e9e24;
	}
#hobbies{
	background: #eaf2fd;
	padding: 120;
}	
}
#skill-titulo{
	
font-weight: 700;
font-size: 200%;

}
#hobbies-titulo{
	font-weight: 700;
	font-size: 200%;
}
.offset-lg-3{
	
	margin-top: 60px;
}
.col-lg-6{
	flex: 0 0 50%;
	max-width: 50%;
}
.card-img-top1{
	width: 248px;
}

.card-img-top{
width: 70px;
    padding: 49px;

	width: 100px;
}







 /*	display: flex;{
 
 	justify-content:space-between ;
 }*/
 ul{
 	display: flex;
 	list-style: none;
 	justify-content: space-around;
 	background: #2a7ae433;
 	padding-top: 20px;

 }
 .conteudoItem{
 	padding: 9.4rem _1.6rem _1.6rem _1.6rem;
 	background: #FFFFFF;
 	display: inline;
 	flex-direction: nowrap;
 	justify-content: flex-start;
 	width: 14,4rem;
 }
 
.card-img-top{	
	padding: 10px;	
}


/*formação academica*/


.tituloPrincipal{
	font-size: 36px;

}

.formacao-academica_tituloPrincipal{
color: #000000;
font-size:36px;
font-weight: 700;
text-align:center ;
margin-bottom: 15px;


}

.formacoes{
	text-align: center;
	font-size: 30px;
	background: #9e9e9e24;
	padding-top: 70px;
}
.Imagemalura{
background: rgb(255, 255, 255);
padding: 30px;
width: 650px;
height: 400px;	
}
.formacao-academica{
	background-color: EAF2FD;

}
.formacao_itens{

	display: flex;
    flex-direction: column;
    align-items: center;
}
}
.projeto_titulo{
	display: flex;
	font-size: 20px;
text-decoration: none;

}
a {
	text-decoration: none;
}
.projeto_linguagen-imagem{

	display: flex;
	width: 4rem;
	text-decoration: none;
}
.projeto{
	display: flex;
	justify-content: center;
	font-weight: bold;
	text-decoration: none;
	padding-top: 80px;
	background: #EAF2FD;
	padding-bottom: 80px;
	padding-left: 50px;
	background-image: liner-gradient rgb(0 15 15);
}


.projeto_imagem{
	display: flex;
	width: 700pxpx;
	height: 400px;
	justify-content: safe left;
	text-decoration: none;
}
.projeto__botao--repositorio{
	background:#F5F5F5;
	padding: 30PX;
	border:0.1rem solid #2A7AE4 ;
	font-style: none;
	font-weight: bold;
}
.projeto__botao--ver-demo  {
	padding: 30px;
	background: #2A7AE4;
	border: none;
	padding: 1.6rem;
	font-weight: 400;
	
}
.projeto_detalhe{
	display:inline;
	justify-items:center ;
	margin-left:1.6rem;
}
.projeto_imagem{
	width: ;

}




/*container*/
section.formcontato{
background-color:#eaf2fd;

}
section.formcontato div.contact{
display: flex;
padding: 64px;

}
section.formcontato div.esquerda img.imagemcontato.png{
	display: block;
	width:464px ;
	height:570px ;
}

section.formcontato div.contact-text{
	display: flex;
    width: -1px;
    flex-direction: column;
    padding: 0 0 0 30px;
}
.contact-title{
	font-weight: 700;
	font-size: 22px;
}

.contact-subtext{
	font-weight: 500px;
	font-size: 16px;
	line-height: 25px;
	margin: 0;
}
.cotato-input{
	border: transparent;
	height: 56px;
	margin: 10px 0;
	width: 55%;
	border-radius: 15px

}
.contato-texarea{
border: transparent;
	height: 96px;
	margin: 10px 0;
	width: 46%;
	border-radius: 15px
}

.contato__botao{
	border: transparent;
	background-color:#2a7ae4;
	margin: 25px ;
	padding: 10px;
	color: white;
	border-radius: 15px
}



/*repositivo*/

@media(max-width: 940px){
.body{


}


.main{
display: flex;
flex-direction: column;
}
.projeto{
display: flex;
flex-direction: column;
}
.divisao3{
padding: 74px;

}

.hobbies-titulo{
	margin-top: 372px;
	margin-left: 33px;
padding-top: 282px;
}


}
.Imagemalura{
	
	flex-direction: column;
	width: 416px;
    padding-left: 5px;
}



}
.card-img-top1{
	padding-top: 36px;

}
.col-lg-6{
max-width: 93%;
padding-top: 274px;
}
.contact {

	display: flex;
	flex-direction: column;
} 
.section.formcontato{
display: flex;
width: 0 0;


}
.html{

	    width:100px;
}
.coteudoprincipal{
	width: 520px;
}

}


















/*fomulariocontato
 form label{
 	display: block;
 	font-size: 20px;
 	margin: 0 0 20px;
 	position: absolute;
 	left: 540px;
 	color: #a2a2a2;
 	font-weight: 400;


 }
 form input{
 	display: block;
 	margin: 0 0 30px;
 	padding: 10px 150px;
 	border-radius: 10px;
 	border: 0;
 	

 }

.contato{
display: flex;
background: #f5f5f5;
padding: 12.8rem 15.2 rem 6.55rem 15.2rem;
margin-top: 30px;
margin-bottom: 30px;
}
.contato__titulo{
	
	display: inline;
	color: #464646;
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 50px;
}

.contato__informacoes{
	margin-left: 1.6rem;
	padding: 30px;
	margin-top: 100px;
}
p{
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
	padding: 10px;
}
.contato__formulario--mensagem{
	padding: 10px 212px;
	border-radius: 10px;
	font-size: 20px;
	padding-left: 4px;
	border: 0;
	color: #a2a2a2;

}
.contato__formulario--botao{
	color: #ffffff;
	font-size: 1.6rem;
	font-weight: 400;
	background: #2a7ae4;
	border: none;
	padding: 1.6rem;
	transition: 0,5s all;
}
img{
	margin: 0;
}
.rodape{
	text-align: center;
}
.nomesobrenome{
	width: 50px;
}
tex